.auth-screen {
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-screen__title-container {
  align-self: flex-start;
}

.auth-screen__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 40px 0;
}

.auth-screen__text {
  margin: 16px 0 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
}

.auth-screen__link {
  text-decoration: none;
  color: #ff6838;
  transition: opacity 0.3s ease;
}

.auth-screen__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .auth-screen {
    padding: 232px 0;
  }
}

@media screen and (max-width: 520px) {
  .auth-screen {
    padding: 56px 0 30px 0;
    max-width: 260px;
  }

  .auth-screen__title-container {
    align-self: center;
  }

  .auth-screen__title {
    text-align: center;
    margin: 50px 0 80px 0;
  }

  .auth-screen__text {
    margin-top: 14px;
    font-size: 12px;
    line-height: 1.25;
  }
}
