@import url('./vendor/normalize.css');
@import url('./vendor/fonts/font.css');

.page {
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
